<div class="tabs">
    <a routerLink="bookmarks" routerLinkActive="selected" title="Marcadores" class="tab bookmarks-tab">
        <div class="tab-tile">
            <i class="material-symbols-outlined">bookmarks</i>
        </div>
    </a>

    <a routerLink="todos" routerLinkActive="selected" title="Cosas para hacer" class="tab todos-tab">
        <div class="tab-tile">
            <i class="material-symbols-outlined">check</i>
        </div>
    </a>

    <a routerLink="notes" routerLinkActive="selected" title="Notas" class="tab notes-tab">
        <div class="tab-tile">
            <i class="material-symbols-outlined">notes</i>
        </div>
    </a>

    <a routerLink="pedidos" routerLinkActive="selected" title="Pedidos" class="tab pedidos-tab">
        <div class="tab-tile">
            <i class="material-symbols-outlined">description</i>
        </div>
    </a>

    <a routerLink="clientes" routerLinkActive="selected" title="Clientes" class="tab clientes-tab">
        <div class="tab-tile">
            <i class="material-symbols-outlined">group</i>
        </div>
    </a>

    <a routerLink="garantias" routerLinkActive="selected" title="Garantías" class="tab garantias-tab">
        <div class="tab-tile">
            <i class="material-symbols-outlined">construction</i>
        </div>
    </a>

  
</div>
