<div class="notes-wrapper">
    <div class="container">
        <div class="notes-list">
            <div class="note-card">
                <div class="note-card-title">This is the note title</div>
                <div class="note-card-content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum, inventore ullam repellendus ab iusto, libero eveniet non aut explicabo quibusdam nisi quas sunt? Cum explicabo cupiditate velit vel quas excepturi?</div>
            </div>
        </div>
    </div>
</div>